<p>material works!</p>
<br><br>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your Name:</mat-label>
      <input matInput placeholder="Enter your name" value=" ">
    </mat-form-field>

    <br><br>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your Employee ID:</mat-label>
      <input matInput placeholder="Enter your Employee id" value=" ">
    </mat-form-field>
  
    <br><br>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter your Age:</mat-label>
        <input matInput placeholder="Enter your Age" value=" ">
    </mat-form-field>

    <br><br>

    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Female</mat-radio-button>
        <mat-radio-button value="2">Male</mat-radio-button>
    </mat-radio-group>

    <br><br>

    <button mat-raised-button color="primary">Submit</button>
  </form>